.container__menu-bar{
  display: flex;
  flex-direction: row;
}

img {
  width: 1%;
  height: 1%;
  margin-left: 20px;
  min-width: 50px;
  min-height: 50px;
}
.container__menu-bar > ul{
  display: flex;
  flex-direction: row;
}

.container__menu-bar > ul > li{
  margin: 20px 40px 0px 40px;
  list-style: none;
}


.container__menu-bar > ul > li > a {
  font-weight: 600;
  color: grey;
  transition: color 0.3s ease, font-size 0.3s ease;
}

.container__menu-bar > ul > li> a:hover{
  color: lightgrey;
  font-size: 1.1em;
}
